<div class="table-title">
    <div class="row">
        <h2 style="margin-left: 28%; margin-top: 2%; color: #00458b;">Demande de lettre d'affectation</h2><br><br>
        <hr>
    </div>
</div>

<form class="row" style="margin-left: 30%; margin-bottom: 3%;" (ngSubmit)="onSearch()">
    <div class="col-md-6">
        <input 
            type="text"  
            class="form-control" 
            placeholder="Nom Prenom" 
            [(ngModel)]="searchValue" 
            name="searchValue"
        /><br>
    </div>
    <div class="col-md-3">
        <button style="background-color: #00458b; border-color: #00458b;" type="submit" class="btn btn-primary btn-block">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</form>

<div class="card-container">
    <ng-container *ngFor="let item of filteredTab">
    <div class="card mb-3 forMembers" style="max-width: 540px;" *ngIf="item.formulaire">
        <div class="row g-0">
            <div style="overflow: hidden;" class="col-md-4">
                <img src="assets/lettre.jpg" height="152px" class="rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.nom}} {{item.prenom}}</h5>
                    <input type="file" (change)="onFileChange($event)">
                    <button class="btn btn-success" style="float: right;" (click)="onSubmitPerf(item.cin)">Affecter</button>
                </div>
            </div>
        </div>
    </div>
    </ng-container>
</div>